{% extends "home-index.html" %}
{% block style %}
    .product-title,  .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<style>
    .card mb-3{
        align-items: center;
    }
</style>
<div class="card mb-3" style="max-width: 1500px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ book.pic.url }}" class="img-cover" style="margin-top:100px; margin-left:100px;">
        <style>
            .img-cover{
                width:200px;
                height: 200px;
            }
            @media only screen and (max-width: 600px) {
                .img-cover {
                  margin-top:100px;
                  margin-left: 20px;
                  padding-left: 0px;
                  margin-right: 20px;
                }
                .card-body{
                    padding-left: 80px;
                }
              }
            @media only screen and (max-width: 700px) {
                .img-cover {
                  margin-top:100px;
                  margin-left: 20px;
                  padding-left: 0px;
                  margin-right: 20px;
                }
              }
            @media only screen and (max-width: 900px) {
                .img-cover {
                  margin-top:100px;
                  margin-left: 20px;
                  padding-left: 0px;
                  margin-right: 20px;
                }
                .card-body{
                    padding-left: 80px;
                }
              }
            @media only screen and (max-width: 1200px) {
                .img-cover {
                  margin-top:1000px;
                  margin-left: 20px;
                  padding-left: 0px;
                  margin-right: 20px;
                }
                .card mb-3{
                    max-width: 1500px;
                    margin-top: 100px;
                }
                .card-body{
                    padding-left: 80px;
                }
              }
        </style>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Book-Title:{{ book.title }}</h5>
          <p class="card-text">Author:{{ book.author }}</p>
          <p class="card-text">ISBN:{{ book.isbn }}</p>
          <p class="card-text">Genre:{{ book.genre }}</p>
          <p class="card-text">Language:{{ book.language }}</p>
          <p class="card-text">Summary:{{ book.summary }}</p> 
          <p class="card-text">Posted on:<small class="text-muted">{{ book.timestamp}}</small></p>
          {% if book.available_copies %}
          <p class="card-text">No of Available Copies:{{ book.available_copies }}</p> 
          {% if not user.is_superuser %}
          <a class="btn btn-primary" href="{% url 'request_issue' pk=book.id %}">Issue</a>
          {%endif%}
          {% endif %}
          {% if user.is_superuser %}
          <a class="btn btn-danger" href="{% url 'book_delete' pk=book.id %}">DELETE</a>
          <a class="btn btn-success" href="{% url 'book_update' pk=book.id %}">Update</a>
         {% endif %}
        </div>
      </div>
    </div>
  </div>
        {% comment %} Reviews {% endcomment %}
        {% if reviews %}
            {% for r in reviews %}
                {% if r.review is  not "none" %}
        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <img src="{{ r.student.pic.url }}" class="rounded-circle img-fluid" height="100" width="90"/>
                <div class="fw-bold">Name: <a href="{% url 'student_detail' pk=r.student.id %}">{{ r.student.name }}</a></div>
                <div class="fw-bold">Roll No: <a href="{% url 'student_detail' pk=r.student.id %}">{{ r.student.roll_no }}</a></div>
                <div class="fw-bold">Department: {{ r.student.department }}</div>
                <p></p>
            </div>
            <button type="button" class="btn btn-link"><a href="#">Review:{{ r.id }}/5</a></button>
            </li>
        </ol>
        {% endif %}
        {% endfor %}
        {% else %}
        No reviews yet
        {% endif %}
</div>

    {% comment %} <div class="container bg bg-white">

    <div class="container-fliud">
    <div class="wrapper row">
    <div class="preview col-6">

        <div class="preview-pic tab-content">
            <div class="tab-pane active  my-auto mx-auto" id="pic-1"><img
                    src="{{ book.pic.url }}" height="300" width="450"/>
            </div>
        </div>


    </div>
    <div class="details col-6">
        <h1>Title: {{ book.title }}</h1>

        <p><strong>Author:</strong>{{ book.author }}</p>
        <p><strong>Summary:</strong> {{ book.summary }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p><strong>Language:</strong> {{ book.language }}</p>
        <p><strong>Genre:{{ book.genre }}</strong>
            {% for genre in book.genre.all %}{{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        <div style="margin-left:20px;margin-top:20px">
            <h4>Copies</h4>
            {% if user.is_superuser %}
                <a class="btn btn-danger" href="{% url 'book_delete' pk=book.id %}">DELETE</a>
                <a class="btn btn-success" href="{% url 'book_update' pk=book.id %}">Update</a>

            {% endif %}
            {% if book.available_copies %}
                <br>
                no of avialable copies={{ book.available_copies }}<br>
                <a class="btn btn-primary" href="{% url 'request_issue' pk=book.id %}">Issue</a>
            {% endif %}      </div>

    </div>

    {% if rr %}
        <a href="{% url 'rating_update' pk=rr.id %}">Give review about book</a>
    {% endif %}

    <div class="card">

        {% if reviews %}
            {% for r in reviews %}

                {% if r.review is  not "none" %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="{{ r.student.pic.url }}" class="rounded-circle img-fluid"/>
                                
                            </div>
                            <div class="col-md-10">
                                <a>star</a>
                                <p>
                                    <a class="float-left"href="{% url 'student_detail' pk=r.student.id %} "><strong>{{ r.student.name }}</strong></a>
                                    <a href="#">star</a>
                                </P>     
                                <div id="{{ r.id }}">
                                    
                                </div>

                                </p>
                                <div class="clearfix"></div>
                                <p>{{ r.review }}</p>
                            </div>
                        </div>
                    </div>


                {% endif %}

            {% endfor %}
        {% else %}
            No reviews yet
        {% endif %}
    </div>

{% endblock %} {% endcomment %}
{% endblock%}
{% block javascript %}
    var i=0;
    var a;
    {% for r in reviews %}
        a=document.getElementById("{{ r.id }}");
        i=0;
        if (parseFloat({{ r.rating }})>parseInt({{ r.rating }}))
        {
        a.innerHTML =  a.innerHTML+ "<span class='float-right'><i class='text-warning fa fa-star-half-o'></i></span>";
        }

        for (i = 0; i < parseInt({{ r.rating }}); i++) {
        a.innerHTML =  a.innerHTML+"<span class='float-right'><i class='text-warning fa fa-star'></i></span>";
        }


    {% endfor %}
{% endblock %}